#content_qiz {
  width: 100%;
  height: auto;
  background-color: aqua;
  overflow: hidden;
  margin:0 auto;
  padding-top: 160px;
  padding-bottom: 160px;
}

.container_qiz {
  overflow: hidden;
  display: flex;
  height: 480px;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 36px;
  margin: 0 60px;
  padding: 38px 200px 38px 130px;
  align-items: center;
  justify-content: space-between;
}

.content_1 {
  width: 402px;
  height: 405px;
}

.content_1 .qiz {
  width: 402px;
  height: auto;
}

.content_2 {
  padding-left: 55px;
  width: 100%;
}

.content_2 .content_text_1 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: #FFFFFF;
  padding-bottom: 11px;
}


.content_2 .content_text_2 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #FFFFFF;
  padding-bottom: 30px;
}

.content_2 button {
  width: 240px;
  height: 66px;
  background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
  box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
  border-radius: 36px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  display: inline-block;
  align-items: center;
  border: none;
  cursor: pointer;
}