#towtext {
  width: 100%;
  height: auto;
  padding: 0 260px;
  margin-bottom: 50px;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
}

.tow_text_1 {
  width: 824px;
  height: 112px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 56px;
  color: #1F2428;
}

.tow_text_2 {
  margin-top: 20px;
  width: 760px;
  height: 108px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  color: #1F2428;

}